@charset "utf-8";

*{
  margin:0;
  padding:0;
}

body{
  background-color: plum;
  margin: 48px 0 0 0;
}
header{
  background-color:coral;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: +1;
}
#main{
  background-color: lavender;
  width: calc(100% - 200px);
  min-width: 500px;
  float: left;
}
.box{
  background-color: tomato;
  color: navy;
  width: 240px;
  height: 80px;
  margin: 5px;
  float: left;
  overflow: hidden;
}
aside{
  background-color:skyblue;
  width: 200px;
  float: right;
  position: relative;
  top: 20px;
  right: 10px;
}
footer{
  background-color:orchid;
  clear: both;
}
#round02-001{
  width: 24px;
  position: absolute;
  left: 50px;
  top: 50px;
}
