@charset "utf-8";

*{
  margin:0;
  padding:0;
}

body{
  background-color: plum;
}
header{
  background-color:coral;
}
#main{
  background-color: lavender;
  width:calc(100% - 200px);
  min-width: 500px;
  float: left;
}
#main1{
  background-color:palegreen;
  width: 500px;
  float: left;
}
#main2{
  background-color:khaki;
  width: 500px;
  float: left;
}
aside{
  background-color:skyblue;
  width: 200px;
  float: right;
}
footer{
  background-color:orchid;
  clear: both;
}
